$color_1: #b31f24;
$color_2: #fff;
$color_3: #1bd5d0;
$color_4: #17a09c;
$color_5: #333232;
$color_6: #8a8686;
$color_7: black;
$color_8: #212529;
$color_9: white;
$color_10: #155800;
$color_11: #3d3c3c;
$color_12: #555555;
$color_13: #666;
$font-family_1: Arial, sans-serif;
$background-color_1: #ffc619;
$background-color_2: #b31f24;
$background-color_3: #3d3c3c;
$background-color_4: #fff;
$background-color_5: #fafafa;
$background-color_6: #e8f9e9;
$background-color_7: rgba(255, 198, 25, 0.1);
$background-color_8: #b41f25;
$border-color_1: #b41f25;
$border_top:rgb(123, 123, 123);
$grey_color:#666;
$background_clr:rgba(255, 255, 255, 0.8);
$color_5: #3d3c3c;
$color_6: #7d7c7c;
$color_7: #FFC619;
$color_8: #909090;
$color_9: #818181;
$color_11: #ffc619;
$color_12: #383535;
$color_13: #B31F24;
$color_14: #8A8686;
$color_15: #2f2f2f;
$color_16: #1FB369;
$color_17: #12864c;
$color_18: #2E2E2E;
$color_19: #949494;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: "FontAwesome";
$background-color_2: #b31f24;
$background-color_3: #FFC619;
$border-color_1: #b31f24;
$border-color_2: #ffc619;
$border-color_3: rgb(255, 255, 255);
$border-color_4: black;
$color_1: #383535;
$color_2: black;
$color_3: #666;
$color_4: #b31f24;
$color_5: #fff;
$background-color_1: transparent;
$background-color_2: #b31f24;
$yellow_clr: #ffc619;
$green_clr: #23aa51;
$border_bottom: #f2f2f2;
$color_1: #b31f24;
$color_2: #fff;
$background-color_1: #b31f24;
$background-color_2: #fff;
$border-color_1: #b31f24;