@import "_variables";
/* info box css */
.container {
  max-width: 85% !important;
}
.tour_detail_new {
  padding-top: 10px;
  margin-bottom: 20px;
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
}
.align-items-center {
  align-items: center !important;
}
.visa_price_tag {
  .btn {
    background-color: $background-color_3;
    color: $color_1;
    font-size: 14px;
    box-shadow: none !important;
    align-items: center;
    border: none;
    outline: none;
    &:hover {
      background-color: $color_1;
      color: white;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
.alignW_item {
  position: relative;
}
.visa_price_tag{
  .social_share emp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    background-color: #b31f24;
    border-radius: 50%;
    color: #fff;
    height: 35px;
    width: 35px;
    i {
      display: block;
      height: 35px;
      width: 35px;
      text-align: center;
      line-height: 35px;
    }
    &:hover i {
      color: #ffc619;
    }
  }
}

.tour_credintial {
  margin: 10px 0px;
  .faciilites {
    align-items: center;
    display: flex;
    margin-bottom: 0;
    padding-top: 0;
    position: relative;
    li {
      i {
        margin-right: 5px;
        width: 20px;
        text-align: center;
        color: $color_1;
      }
    }
  }
  .burj_khalifa {
    font-weight: 700;
  }
}
.see_more {
  color: #1bd5d0;
  font-size: 12px;
  text-decoration: underline;
  font-weight: 600;
  &:hover {
    color: $color_4;
  }
}
.start_end_points {
  .strt {
    color: $color_1;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 16px;
    text-transform: capitalize;
    &:before {
      content: "";
      width: 55px;
      height: 5px;
      background-color: black;
      position: absolute;
      left: 10px;
      bottom: 0;
    }
    &:after {
      content: "";
      width: 7px;
      height: 5px;
      background-color: $background-color_2;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
.checkIn_checkOut {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  p {
    margin-bottom: 0;
    color: black !important;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 16px;
    color: $color_5;
    small {
      display: block;
      color: $color_6;
      font-weight: 600;
      display: block;
      font-size: 13px;
      color: $color_6;
    }
  }
  .line_connect {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    &:before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: $background-color_4;
      border: 3px solid #b31f24;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    span {
      border-top: 3px dashed #707070;
      display: block;
      width: 80%;
      margin: 0 auto;
    }
    &:after {
      content: "";
      width: 20px;
      height: 20px;
      background-color: $background-color_4;
      border: 3px solid #b31f24;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.totalStay_inHotel {
  background-color: $color_7;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  h1 {
    color: black;
    font-size: 20px;
    margin-bottom: 0;
    small {
      font-size: 18px;
      display: block;
      font-weight: 400;
    }
  }
}
.child_label{
  font-size: 14px;
}
.read-more {
  color: black;
  text-decoration: underline;
  margin-left: 10px;
  &:hover {
    color: $color_1;
  }
}
.tour_descNew {
  .card {
    margin-bottom: 15px;
    border: none !important;
    background-color: $background-color_5;
    .card-body {
      border-left: 3px solid black !important;
    }
  }
  .accordion-button {
    border-bottom: 2px solid #fff;
    border-left: 3px solid;
    border-radius: 0;
    font-weight: bold;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    &:focus {
      border: none;
      border-left: 3px solid !important;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    }
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $background-color_4;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.accordion-button {
  border-bottom: 2px solid #fff !important;
  border-left: 3px solid;
  border-radius: 0;
  font-weight: bold;
  color: black !important;
  background-color: $background-color_4 !important;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16) !important;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  text-align: left;
  background-color: $background-color_4;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15sease-in-out, background-color 0.15sease-in-out,
    border-color 0.15sease-in-out, box-shadow 0.15sease-in-out,
    border-radius 0.15sease;
  &::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(/images/accordian_arrow_red.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2sease-in-out;
  }
  &:not(.collapsed) {
    &::after {
      background-image: url(/images/accordian_arrow_red.svg) !important;
      transform: rotate(-180deg);
    }
    color: $color_1 !important;
    background-color: $background-color_4 !important;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16) !important;
    color: $color_1 !important;
    font-weight: 800;
    background-color: $background-color_4 !important;
    border-bottom: 2px solid #fff;
    border-left: 3px solid;
    border-radius: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16) !important;
  }
}
.info-box {
  background-color: $background-color_6;
  border: 2px solid #b2ffa2;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  text-align: left;
  ul {
    list-style: none;
    padding: 0;
    li {
      position: relative;
      padding-left: 20px;
      font-size: 13px;
      color: $color_10;
      &::before {
        content: "•";
        color: $color_1;
        font-size: 19px;
        position: absolute;
        left: 0;
        top: -5px;
      }
    }
  }
}
ul li::marker {
  color: $color_1; /* Change marker color */
}
.info-icon {
  width: 30px;
  height: 30px;
  background: #5fc93f;
  color: $color_9;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.itinerary {
  .nav {
    background-color: $background-color_7;
    flex-wrap: nowrap;
    padding: 5px;
    position: relative;
    padding-left: 30px;
    overflow-x: auto;
    .nav-item.legend {
      background-color: #ffc619;
      color: $color_1;
      font-size: 15px;
      transform: rotate(-90deg);
      padding: 4px 10px;
      text-align: center;
      position: absolute;
      width: 50px;
      top: 20px;
      left: -10px;
    }
    .nav-item {
      width: 100%;
      .nav-link.active {
        background-color: #b31f24;
        color: $color_2;
      }
      .nav-link {
        background-color: $background-color_4;
        padding: 10px 15px;
        border: 0;
        margin: 0 auto;
        color: black;
        border-radius: 5px;
        width: 90%;
        h1 {
          font-size: 15px;
          text-align: center;
          margin-bottom: 0;
          small {
            font-size: 13px;
          }
        }
      }
    }
  }
}
.other_date {
  font-size: 9px !important;
}
.calender_hgt {
  img {
    height: 16px;
    width: 16px;
  }
}
.tour_iternary_inner {
  padding: 15px 0;
  padding-bottom: 0;
  .tour_source_desti {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 17px;
    }
  }
}
.new_tour_desc {
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
      font-size: 13px;
      position: relative;
      padding-left: 15px;
      margin-bottom: 8px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $background-color_2;
        margin-right: 5px;
      }
    }
  }
}
.right_side {
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
}
.left_section {
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);
  padding: 20px;
  border-radius: 15px 15px 15px 30px;
}
.filter_row {
  .filter_toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: black;
  }
  .inner_collaspe_area {
    padding-top: 15px;
    .custom-control {
      padding-bottom: 10px;
    }
    .custom-control-label {
      font-size: 15px;
      font-weight: 500;
    }
  }
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.radioW_cust {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}
.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked {
    ~ {
      .custom-control-label {
        &::before {
          color: $color_2;
          border-color: $border-color_1;
          background-color: $background-color_8;
          box-shadow: none;
        }
      }
    }
  }
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  padding-left: 30px;
  &::after {
    position: absolute;
    top: 1rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
  }
  &::before {
    position: absolute;
    top: 1rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: $background-color_4;
    border: #adb5bd solid 1px;
  }
}
.custom-radio {
  .custom-control-input {
    &:checked {
      ~ {
        .custom-control-label {
          &::after {
            background-image: url(/images/whiteball.svg);
          }
        }
      }
    }
  }
  .custom-control-label {
    &::before {
      border-radius: 50%;
    }
  }
}
.BottomSecWrap {
  .priceS {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    color: $color_1;
    font-weight: 700;
  }
}
.pass_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 15px;
  .left_area {
    display: flex;
    align-items: center;
    width: 50%;
    img {
      width: 40px;
      height: 40px;
      padding-right: 8px;
    }
    h4 {
      font-size: 14px;
      margin-bottom: 0;
      white-space: nowrap;
      span {
        display: block;
        font-size: 12px;
        color: $color_12;
      }
    }
  }
  .right_area {
    .input-group-btn {
      .btn {
        padding: 0;
        color: $color_1;
        border: 0;
        outline: none;
        box-shadow: none;
      }
      background: #fff;
      border-radius: 50% !important;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none !important;
      border: 1px solid #8a8686;
    }
    .form-control {
      width: 60px;
      text-align: center;
      border: 0;
      margin-top: -3px;
      padding: 0;
      background: transparent;
      outline: none;
      box-shadow: none;
    }
  }
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  .btn {
    position: relative;
    z-index: 2;
  }
}
.flight_search {
  .inpute_holder {
    .form-control {
      border: 0;
      padding: 0;
      width: 85%;
      font-size: 14px;
      outline: none;
      box-shadow: none;
    }
    position: relative;
    border: 1px solid #f3f3f3;
    margin-bottom: 15px;
    padding: 4px 15px;
    border-radius: 10px;
    label {
      img {
        margin-right: 5px;
        vertical-align: sub;
        height: 24px;
        width: 24px;
      }
    }
  }
}
.inner_desc_trip {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #f7f7f7;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);
  h5 {
    font-size: 16px;
  }
  .btn {
    background-color: $background-color_2;
    color: $color_2;
    display: block;
    width: 100%;
    margin-top: 15px;
    outline: none;
    box-shadow: none !important;
    &:hover {
      background-color: $background-color_1;
      color: $color_7;
    }
  }
}
.booking-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .booking-info {
    display: flex;
    gap: 10px;

    .booking-number {
      font-size: 16px;
      font-weight: bold;
      color: #666;
    }

    .booking-details {
      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
      }

      p {
        margin: 2px 0;
        font-size: 12px;
        font-weight: 700;
        color: #666;
      }
    }
  }

  .booking-price {
    font-size: 16px;
    strong {
      font-weight: 700;
    }
  }
}
.total-section {
  padding: 10px 0;

  hr {
    border: none;
    border-top: 3px solid rgb(123, 123, 123);
    margin-bottom: 5px;
  }

  .total-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-weight: 700;
    }
    .total-amount {
      text-align: right;

      .price {
        color: #b31f24; // Red color
        font-size: 18px;
        font-weight: 800;
      }

      p {
        font-size: 12px;
        color: black;
        margin: 2px 0 0;
        font-weight: 700;
      }
    }
  }
}
$color_1: white;
$background-color_1: #000;

.images-row {
  .image-cover-div {
    height: 295px;
    width: 100%;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
.fancy_title {
  h2 {
    font-size: 20px;
  }
}
.sub-images-row {
  row-gap: 15px;
  > .col-md-6 {
    padding: 0px 5px;
  }
}
.min-image-box {
  height: 140px;
  width: 100%;
  img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    border-radius: 10px;
  }
  h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: $color_1;
    font-size: 1.2rem;
    width: max-content;
  }
}
.offer_banner {
  .btn {
    padding: 0rem;
    box-shadow: none;
    position: relative;
  }
}
.cover-img-min-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: $background-color_1;
  opacity: 0.8;
}
.btnW {
  position: relative;
  box-shadow: none !important;
  outline: none;
}
.fancybox__content {
  width: 800px !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
.fancybox__image {
  width: 800px !important;
  height: auto !important;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.fancybox__slide.is-selected {
  .fancybox__image {
    transform: scale(0);
  }
}
.itinerary {
  .nav {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.flatpickr-input[readonly] {
  cursor: pointer;
  opacity: 0 !important;
}

///
#datepickerContainer {
  display: none;
  position: absolute;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.flatpickr-calendar {
  width: 280px; /* Adjust width */
  color: #fff !important;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Header */
.flatpickr-month {
  color: white;
}

/* Selected date */
.flatpickr-day.selected {
  color: black !important;
  background-color: #ffc619 !important;
  border: none;
}

/* Hover effect */
.flatpickr-day:hover {
  background: #ffc619 !important;
  color: black !important;
}

/* Show datepicker when clicking the button */
#datepickerBtn:focus + #datepickerContainer {
  display: block;
}

.flatpickr-day.today {
  border-color: #b31f24 !important;
}
/* Change background color of previous and next month buttons */
.flatpickr-prev-month,
.flatpickr-next-month {
  background-color: #b31f24 !important; /* Change this to your preferred color */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Change the arrow color */
.flatpickr-prev-month svg,
.flatpickr-next-month svg {
  fill: white !important; /* Arrow color */
}

/* Add hover effect */
/* Change background color on hover */
.flatpickr-prev-month:hover,
.flatpickr-next-month:hover {
  background-color: #ffc619 !important; /* Yellow background on hover */
}

/* Change SVG arrow color on hover */
.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  fill: black !important; /* Arrow turns black */
}

//second left side
.rooms_bkng {
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);

  border-radius: 12px;
}
.travellingsection_scnd {
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);

  border-radius: 12px;
}
.filter_toggle {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  img {
    margin-right: 10px;
  }
  &:hover {
    color: black;
  }
}
.user_label {
  span {
    background-color: #b31f24;
    color: #fff;
    display: inline-block;
    margin-left: -17px;
    padding: 5px 16px;
    margin-bottom: 9px;
  }
  .fa-angle-down {
    color: black;
  }
}
.radioW_section_scnd {
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  padding: 10px;
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #b41f25;
    background-color: #b41f25;
    box-shadow: none;
  }
  .custom-radio .custom-control-label::before {
    border-radius: 50%;
  }
  .custom-control-label::before {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
  }
  .custom-control-label::after {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
  }
}
.custom_border {
  border-bottom: 3px solid #f2f2f2;
}

// third left side css
.room_bkng_trd {
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);
}

// calender css
.modal_cntnt {
  width: 380px !important;
  margin: auto;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: 0;
  border-radius: 10px !important;
}
.calender_modal .modal-body {
  padding: 0;
}
.calender_modal .modal-body #datepicker-div {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}

// accordian css

.icon-rotate {
}
.nav .nav-item .nav-link {
  background-color: #fff;
  padding: 0.3rem 0.5rem;
  border: 0;
  margin: 0 auto;
  color: #3d3c3c;
  border-radius: 5px;
  width: 90%;
  height: 100%;
  box-shadow: none;
}
// modal css
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  outline: 0;
}
.modal-body #datepicker {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.modal-body #datepicker .ui-datepicker {
  width: 21em;
  height: 17em;
  padding: 1em 0em 0;
  border: none;
  .ui-datepicker-header {
    padding: 0em 0;
    height: 2.5em;
    background-color: transparent;
    border: none;
    color: black;
  }
  .ui-datepicker-prev {
    position: absolute;
    top: 2px;
    left: 2px;
    &::after {
      position: absolute;
      content: "\f0d9";
      font-family: "Font Awesome 5 Free";
      top: 0px;
      left: 12px;
    }

    span {
      display: none;
    }
  }
  .ui-datepicker-next {
    right: 2px;
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
    &::after {
      position: absolute;
      content: "\f0da";
      font-family: "Font Awesome 5 Free";
      top: 0px;
      right: 12px;
    }
    span {
      display: none;
    }
  }
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-state-default {
  border: 1px solid transparent !important;
  background: none !important;
  font-weight: normal;
  color: #454545;
  text-align: center !important;
}
.ui-state-active {
  border: 1px solid #b31f24 !important;
  color: black !important;
}
.weekend-date a {
  color: #b31f24 !important;
  font-weight: bold;
}
.modal-footer .calender_btn {
  background-color: #b31f24;
  border-radius: 1.5rem;
  color: #fff !important;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  height: 40px;
  width: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  outline: none;
  &:hover {
    background-color: #ffc619;
    color: black !important;
  }
}
.services {
  .service {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.fixed_date {
  color: #b31f24;
  font-size: 14px;
}

// passenger info scss

.bg_gray {
  border-radius: 12px;
}
.title_red {
  color: $border-color_1;
  margin: 15px 0;
  width: -moz-fit-content;
  font-size: 22px;
  width: fit-content;
}
.bg_gray {
  background: #fafafa;
  padding: 15px;
}
.user_info {
  h4 {
    text-transform: uppercase;
    color: #b31f24;
    font-weight: 700;
    font-size: 20px;
  }
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.user_info label {
  color: #b31f24;
}
#passenger_form .form-control {
  height: 38px;
  font-size: 14px;
  box-shadow: none;
  outline: none;
  &:focus {
    border-color: #ababab;
  }
}
.user_info {
  .form-control {
    border-radius: 5px;
    border-color: #ababab;
    height: 45px;
    margin-bottom: 15px;
  }
}
.user_info {
  select {
    background: #fff url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: 95% 57%;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.select_nation select {
  appearance: none; /* Standard for modern browsers */
  -webkit-appearance: none; /* Safari & Chrome */
  -moz-appearance: none; /* Firefox */
  background-image: none !important; /* Removes background icon */
  padding-right: 10px; /* Adjust padding to prevent empty space */
}
.iti {
  position: relative;
  display: inline-block;
}
.iti--allow-dropdown {
  .iti__country-container {
    right: auto;
    left: 0;
  }
}
#passenger_form {
  .form-control {
    height: 38px;
    font-size: 14px;
  }
}
.iti {
  width: 100% !important;
}
.iti__country-list--dropup {
  width: 280px !important;
  overflow-x: hidden;
}
.inner_desc_trip {
  background: $background_clr;
  border: 1px solid #f7f7f7;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);
  h5 {
    font-size: 16px;
  }
  .btn {
    background-color: $color_1;
    color: #fff;
    display: block;
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
    outline: none;
    box-shadow: none !important;
    font-weight: 600;
    &:hover {
      background-color: $background-color_1;
      color: black;
      font-weight: 600;
    }
  }
}
.booking-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  .booking-info {
    display: flex;
    gap: 10px;
    .booking-number {
      font-size: 16px;
      font-weight: bold;
      color: $grey_color;
    }
    .booking-details {
      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
      }
      p {
        margin: 2px 0;
        font-size: 12px;
        font-weight: 700;
        color: $grey_color;
      }
    }
  }
  .booking-price {
    font-size: 16px;
    font-weight: 500;
  }
}
.total-section {
  padding: 10px 0;
  hr {
    border: none;
    border-top: 3px solid $border_top;
    margin-bottom: 5px;
  }
  .total-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-weight: 700;
    }
    .total-amount {
      text-align: right;
      .price {
        color: $color_1;
        font-size: 18px;
        font-weight: 800;
      }
      p {
        font-size: 12px;
        color: black;
        margin: 2px 0 0;
        font-weight: 700;
      }
    }
  }
}
.fare_details {
  font-weight: 800;
  font-size: 22px;
}

// secondd passenger css
.head_scnd {
  display: flex;
  justify-content: space-between;
  .secnd_pssenger {
    color: #b31f24;
    span {
      color: black;
    }
  }
  .fa-angle-down {
    color: #b31f24;
  }
}
.custom_border {
  border-bottom: 3px solid #f2f2f2;
}

// custom checkbox css
.custom-checkbox {
  position: relative;
  width: 100%;
  padding-left: 25px !important;
  .custom-control-label {
    color: #333232;
  }
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  box-shadow: none;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #b31f24 !important;
  background-color: #b31f24 !important;
  box-shadow: none;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(images/download.svg);
}

// add to cart modal
.cart_success {
  .add_tocart {
    width: 380px;
  }
}

.modal_bdy {
  h1 {
    color: #126332;
    font-size: 22px;
  }
  p {
    color: #3d3c3c;
    font-size: 14px;
  }
}

.add_morebtn {
  border: 1px solid #23aa51;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 0.8rem;
  color: rgb(31, 26, 26);
  &:hover {
    border: 1px solid black;
    color: #23aa51;
  }
}

// lazy loader
.lazyLoad.fetched_list .light-shimmer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  animation-duration: 3.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: lazyLoad;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 200% 100%;
}
.lazyload-dark.fetched_list-dark .dark-shimmer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  animation-duration: 3.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: lazyLoad-dark;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, grey 10%, #646464 18%, grey 33%);
  background-size: 200% 100%;
}
.lazyLoad.fetched_list .light-shimmer.rounded-shimmer:after {
  border-radius: 8px; /* Makes the shimmer rounded */
}

.lazyload-dark.fetched_list-dark .dark-shimmer.rounded-shimmer:after {
  border-radius: 8px; /* Ensures rounded corners */
}

@keyframes lazyLoad {
  0% {
    background-position: -200% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}
@keyframes lazyLoad-dark {
  0% {
    background-position: -200% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}
.lazyLoad.fetched_list .light-shimmer,
.lazyload-dark.fetched_list-dark .dark-shimmer {
  position: relative;
}


// cart screen css

body {
  font-family: "Montserrat", sans-serif !important;
}
.container {
  max-width: 85%;
}
.flight_list {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);
  border: 1px solid $color_5;
  overflow: hidden;
  position: relative;
  transition: all 0.5s linear;
  &:hover {
    transform: scale(0.99);
  }
}
.tour_img {
  img {
    height: 170px;
    border-radius: 15px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }
}
.tour_title {
  display: flex;
  justify-content: space-between;
}
.trip_desc {
  h4 {
    font-size: 20px;
    color: #b31f24;
    font-weight: 600;
    border-bottom: 1px solid $border_bottom;
    padding-bottom: 15px;
    width: 100%;
  }
}
.tour_credintial {
  margin: 10px 0px;
  border-bottom: 1px solid $border_bottom;
  .faciilites {
    li {
      padding-right: 15px;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-right: 10px;
      text-wrap: nowrap;
    }
    img {
      width: 20px;
      margin-right: 5px;
    }
  }
}
.bottom_sec {
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_icon {
  width: 20px;
  margin-right: 5px;
}
.tour_datesSelection {
  font-size: 20px;
  font-weight: 700;
  color: #8a8686;
  strong {
    color: #b31f24;
  }
}
.brdr {
  border-left: 1px solid grey;
  padding-left: 40px;
}
.add_morebtn {
  border: 1px solid $green_clr;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 14px;
  color: black;
  background-color: white;
  &:hover {
    background-color: $green_clr;
    color: white;
    border: none;
  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
.inner_desc_trip {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #f7f7f7;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 0.2px rgba(0, 0, 0, 0.18);
  h5 {
    font-size: 18px;
    font-weight: 700;
  }
  .btn {
    background-color: #b31f24;
    color: $color_5;
    display: block;
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
    outline: none;
    box-shadow: none !important;
    font-weight: 600;
    &:hover {
      background-color: $yellow_clr;
      color: black;
    }
  }
}
.booking-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  .booking-info {
    display: flex;
    gap: 10px;
    .booking-number {
      font-size: 16px;
      font-weight: bold;
      color: $color_3;
    }
    .booking-details {
      h3 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
      }
      p {
        margin: 2px 0;
        font-size: 12px;
        font-weight: 700;
        color: $color_3;
      }
    }
  }
  .booking-price {
    font-size: 16px;
    font-weight: bold;
  }
}
.total-section {
  padding: 10px 0;
  hr {
    border: none;
    border-top: 3px solid rgb(123, 123, 123);
    margin-bottom: 5px;
  }
  .total-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-weight: 700;
    }
    .total-amount {
      text-align: right;
      .price {
        color: $color_4;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
.custom_border {
  border-bottom: 3px solid $border_bottom;
}
// cart modal

.recyclebin_modal {
  .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
    .close {
      box-shadow: none;
      outline: none;
      font-size: 40px;
      padding-bottom: 0;
      font-weight: 500;
    }
  }
  .modal-body {
    p {
      color: #b31f24;
      font-weight: bold;
    }
  }
}
.modal-footer {
  justify-content: center;
  border: 0;
  flex-wrap: nowrap;
  padding-top: 0;
  .btn.btn-secondary {
    background-color: #b31f24;
    color: $color_2;
    border-color: $border-color_1;
    width: 50%;
    margin: 0;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    &:hover {
      border: 1px solid black;
      background: black;
    }
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  .btn.btn-primarys {
    background-color: $background-color_2;
    border-color: $border-color_1;
    color: $border-color_1;
    width: 50%;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    &:hover {
      border: 1px solid black;
      color: black;
      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }
}
.recyclebin_modal {
  .modal-body {
    img {
      margin-bottom: 15px;
      height: 90px;
    }
  }
}
